body{
	height: 100%;
	background: #e9ebee;
	color: #1d2129;
	background-image: url("./assets/images/bgFlag.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;

}